.contactContainer {
    text-align: center;
    margin-bottom: 13vh;
}

.contactContainer h2 {
    margin-bottom: 15px;
}

@media screen and (min-width:414px) {
    .contactContainer {
        margin-bottom: 19vh;
    }
}

@media screen and (min-width:375px) and (min-height:800px) {
    .contactContainer {
        margin-bottom: 26vh;
    }
}

@media screen and (min-width:1024px) and (min-height:768px) {
    .contactContainer {
        margin-bottom: 22vh;
    }
}

@media screen and (min-width:1024px) and (min-height:1366px) {
    .contactContainer {
        margin-bottom: 57vh;
    }
}

@media screen and (min-width:1280px) and (min-height:700px) {
    .contactContainer {
        margin-bottom: 26vh;
    }
}


@media screen and (min-width:1280px) and (min-height:900px) {
    .contactContainer {
        margin-bottom: 35vh;
    }
}


@media screen and (min-width:1366px) and (min-height:1024px) {
    .contactContainer {
        margin-bottom: 40vh;
    }
}

